# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
.venv
venv/
.pytest_cache

# VS Code
.vscode/
.history/

# Documentation
README.md
LICENSE

# Docker
Dockerfile
.dockerignore

# OS
.DS_Store
Thumbs.db
